<!-- View games page, gets and shows games from the database -->
<!-- inherits from layout -->
{% extends "layout.html" %}


<!-- Code needs to be in block content tag to properly inherit -->
{% block content %}

<!-- Header/title -->
<h1>List of Games</h1>

<!-- submit button-->
<form method="post">
    <button type="submit">Submit</button>
</form>

<!-- Makes a horizontal line -->
<hr>


<!-- Games Table -->
<div class="container">

    <table class=" table mt-4 table-striped table-hover table-bordered ">

        <!-- Games Table Head-->
        <thead>
            <tr>
                <th scope="col">Game ID</th>
                <th scope="col">Game Name</th>
            </tr>
        </thead>

        <!-- Games Table Rows-->
        <tbody class="table-group-divider">
            {% for game in games %}
            <tr>
                <td> {{ game._id }}</td>
                <td> {{ game['gameName'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <!-- previous page button-->
    <form method="post">
        <button type="lasttPage" name="last">Previous Page</button>
    </form>

    <!-- next page button-->
    <form method="post">
        <button type="nextPage" name="next">Next Page</button>
    </form>
    <br>
    <br>
</div>

{% endblock %}