<!-- View games page, gets and shows games from the database -->
<!-- inherits from layout -->
{% extends "layout.html" %}


<!-- Code needs to be in block content tag to properly inherit -->
{% block content %}

<!-- Header/title -->
<h1>List of Players</h1>

<!-- submit button-->
<form method="post">
    <button type="submit">Submit</button>
</form>

<!-- Makes a horizontal line -->
<hr>


<!-- Players Table -->
<div class="container">

    <table class=" table mt-4 table-striped table-hover table-bordered ">

        <!-- Players Table Head -->
        <thead>
            <tr>
                <th scope="col">Player ID</th>
            </tr>
        </thead>

        <!-- Players Table rows -->
        <tbody class="table-group-divider">
            {% for player in players %}
            <tr>
                <td>{{ player._id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Traverse Pages Button Bar-->
    <form method="post">
        {% if first %}
        <button class="btn btn-outline-primary" type="lasttPage" name="last" disabled>Previous Page</button>
        {% else %}
        <button class="btn btn-outline-primary" type="lasttPage" name="last">Previous Page</button>
        {% endif %}
    </form>
<h4> Page {{currentPage}}/{{pgCount}} Pages </h4>
    <!-- submit button-->
    <form method="post">
        <button class="btn btn-outline-primary" type="nextPage" name="next">Next Page</button>
    </form>
</div>

{% endblock %}