<!-- View games page, gets and shows games from the database -->
<!-- inherits from layout -->
{% extends "layout.html" %}


<!-- Code needs to be in block content tag to properly inherit -->
{% block content %}

<!-- Header/title -->
<h1>List of Players</h1>

<!-- submit button-->
<form method="post">
    <button type="submit">Submit</button>
</form>

<!-- Makes a horizontal line -->
<hr>


<!-- Players Table -->
<div class="container">

    <table class=" table mt-4 table-striped table-hover table-bordered ">

        <!-- Players Table Head -->
        <thead>
            <tr>
                <th scope="col">Player ID</th>
            </tr>
        </thead>

        <!-- Players Table rows -->
        <tbody class="table-group-divider">
            {% for player in players %}
            <tr>
                <td>{{ player }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Traverse Pages Button Bar-->
    <form method="post">
        <div class="btn-group" role="group" aria-label="Basic example">
        <button type="lastPage" name="last">Previous Page</button>
        <h4> Page {{currentPage}}/{{pgCount}} Pages </h4>
        <button type="nextPage" name="next">Next Page</button>
        </div>
    </form>
    <br>
    <br>
</div>

{% endblock %}